<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div style="display: flex; flex-wrap: wrap;">
                <mat-card class="example-card" *ngFor="let x of playerA" appElevation>
                    <mat-grid-list cols="4">
                        <mat-card-header>
                            <mat-grid-tile [colspan]=3 [rowspan]=1><b>{{x.name | uppercase}}</b></mat-grid-tile>
                            <mat-grid-tile [colspan]=1 [rowspan]=1>
                                <mat-chip-list>
                                    <mat-chip color="primary" selected>{{x.id}}</mat-chip>
                                </mat-chip-list>
                            </mat-grid-tile>
                        </mat-card-header>
                    </mat-grid-list>
                    <div align="center">
                        <img mat-card-image src="{{x.icon}}" style="height: 150px; width: 150px;">
                    </div>
                    <mat-card-content>
                        <mat-grid-list cols="4" gutterSize="0">
                            <mat-grid-tile [colspan]=2 [rowspan]=1>Height : {{x.height}}</mat-grid-tile>
                            <mat-grid-tile [colspan]=2 [rowspan]=1>Weight : {{x.weight}}</mat-grid-tile>
                        </mat-grid-list>
                        <mat-grid-list cols="4" gutterSize="0">
                            <mat-chip-list>
                                <div *ngFor="let t of x.types">
                                    <mat-grid-tile [colspan]=2 [rowspan]=1>
                                        <mat-chip>
                                            {{t.substr(0, 1).toUpperCase() + t.substr(1) }}
                                        </mat-chip>
                                    </mat-grid-tile>
                                </div>
                            </mat-chip-list>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-5">
            <div style="display: flex; flex-wrap: wrap;">
                <mat-card class="example-card" *ngFor="let x of playerB" appElevation>
                    <mat-grid-list cols="4">
                        <mat-card-header>
                            <mat-grid-tile [colspan]=3 [rowspan]=1><b>{{x.name | uppercase}}</b></mat-grid-tile>
                            <mat-grid-tile [colspan]=1 [rowspan]=1>
                                <mat-chip-list>
                                    <mat-chip color="primary" selected>{{x.id}}</mat-chip>
                                </mat-chip-list>
                            </mat-grid-tile>
                        </mat-card-header>
                    </mat-grid-list>
                    <div align="center">
                        <img mat-card-image src="{{x.icon}}" style="height: 150px; width: 150px;">
                    </div>
                    <mat-card-content>
                        <mat-grid-list cols="4" gutterSize="0">
                            <mat-grid-tile [colspan]=2 [rowspan]=1>Height : {{x.height}}</mat-grid-tile>
                            <mat-grid-tile [colspan]=2 [rowspan]=1>Weight : {{x.weight}}</mat-grid-tile>
                        </mat-grid-list>
                        <mat-grid-list cols="4" gutterSize="0">
                            <mat-chip-list>
                                <div *ngFor="let t of x.types">
                                    <mat-grid-tile [colspan]=2 [rowspan]=1>
                                        <mat-chip>
                                            {{t.substr(0, 1).toUpperCase() + t.substr(1) }}
                                        </mat-chip>
                                    </mat-grid-tile>
                                </div>
                            </mat-chip-list>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>